.table {
    width: 100%;
    .hour{
      font-size: 1.2rem;
        // border-bottom: 1px solid grey;
        height: 30px;
    }
    .time{
        width: 5%;
    }
}

.box{
    display: flex;
    justify-content: space-between;
    background-color: rgb(66,133,244);
}
