<h4>{{selectedData | date: 'EEEE, d'}}</h4>

<table mat-table #table
[dataSource]="hours"
cdkDropList [cdkDropListData]="dataSource"
(cdkDropListDropped)="drop($event)">

  <ng-container matColumnDef="hour">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let hour">{{ hour.time }}</td>
  </ng-container>

  <ng-container matColumnDef="task">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let hour">
      <div class="box" *ngFor="let task of tasks; trackBy: trackById"
        >
          <ng-container *ngIf="task.date == selectedData && task.hour == hour.time">
            <h5>{{ task.title }}</h5>
            <p>{{ task.date + task.hour + task.minute | date }}</p>
            <p>{{ task.description }}</p>
            <!-- <button class="close-btn" (click)="deleteApp(task.id)">&times;</button> -->
          </ng-container>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
  cdkDrag [cdkDragData]="row"></tr>
</table>
