table{
  th {
    display: none;
  }
  .mat-column-hour{
    width: 20px;
  }
}

.box{
    width: 100%;
    display: flex;
    background-color: rgb(66,133,244);
    border-radius: 10px;
    .task{
      padding-left: 5%;
    }
}

.cdk-drag {
    &.cdk-drag-preview > *{
      width: 200px;
      cursor: move;
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
      .hour{
        display: none;
      }
    }
    &.cdk-drag-placeholder > *{

      opacity: 0;
    }
  }
  .hide{
    opacity: 0;
  }