.header {
    width: min(100% - 15px, 1380px);
    margin-inline: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 9%;
    button{
        align-self:center;
        margin:5px;
    }
}